@import "./generic/reset.scss";

body{
    height: 100vh;
    background-color: rgba(250, 180, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBox{
    width: 900px;
    height: 500px;
    background:  no-repeat center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    .shadowBox{
        width:  100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            margin: 20px;
            padding: 17px 50px;
            border-radius: 25px;
            color: saddlebrown;
            background-color: rgb(250, 180, 0);
            border: 3px solid rgb(105, 57, 27);
        }
    }
}

@mixin wheel ($height, $top) {
            width: 250px;
            height: $height;
            margin: 0 5px 20px 0;
            background: no-repeat center;
            background-size: cover;
            border-radius: 10px;
            position: relative;
        &::before{
            content: '';
            display: block;
            clear: both;
            width: 30px;
            height: 30px;

            border: 1px solid black;
            border-radius: 100%;
            position: absolute;
            top: $top;
            right: 20px;
        }
        &::after{
            content: '';
            display: block;
            clear: both;
            width: 30px;
            height: 30px;

            border: 1px solid black;
            border-radius: 100%;
            position: absolute;
            top: $top;
            left: 20px;
        }
}

.gameBox{
    display: none;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    flex-direction: row;
    align-items: flex-end;
    .bigTrain{
        @include wheel(100px, 85px)
    }
    .smallTrain{
        @include wheel(30px, 15px)
    }
}
