@import "./generic/reset.scss";

body{
    height: 100vh;
    background-color: rgba(250, 180, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBox{
    width: 900px;
    height: 500px;
    background:  no-repeat center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    background-image: url(../img/westernTown.jpg);
    .shadowBox{
        width:  100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            margin: 20px;
            padding: 17px 50px;
            border-radius: 25px;
            color: saddlebrown;
            background-color: rgb(250, 180, 0);
            border: 3px solid rgb(105, 57, 27);
        }
    }
}
@keyframes rondo {
    0%{
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes ride {
    0%{
        left: 0;
    }
    100%{
        left: -260px;
    }
}

@mixin wheel ($height, $top, $animation, $ride) {
            width: 250px;
            height: $height;
            margin: 0 5px 20px 0;
            background: no-repeat center;
            background-size: cover;
            border-radius: 10px;
            position: relative;

            animation: $ride 4s linear infinite;

        &::before{
            content: url(../img/wheel.png);  
            display: block;
            clear: both;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            position: absolute;
            top: $top;
            right: 20px;
            animation: $animation 3s linear infinite ;
        }
        &::after{
            content: url(../img/wheel.png);  
            display: block;
            clear: both;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            position: absolute;
            top: $top;
            left: 20px;
            animation: $animation 3s linear infinite ;
        }
}

.gameBox{
    display: none;
    width: 100%;
    height: 50%;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: content-box;
    .bigTrain{
        @include wheel(100px, 85px, rondo, ride);
        background-image: url(../img/bigTrain.jpg);
    }
    .smallTrain{
        @include wheel(30px, 15px, rondo, ride);
        background-image: url(../img/smallTrain.jpg)
    }
}
